@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green-hard: #026937;
  --green-mid: #35944B;
  --green-little: #43B649;
  --blue-dark: #205B70;
  --blue-mid: #0E7774;
  --violet-oficial: #94357e;
  /* --light-grey-try: #c9c9c9; */
  --light-grey: #5F5F5F;
  --dark-grey: #393636;
  --white: #fff;
  --bg-main: linear-gradient(120deg, #026937 0%, #35944b 100%);
  --bg-secondary: linear-gradient(306deg, #026937 0%, #35944b 100%);
  --bg-third: linear-gradient(90deg, #43b649 0%, #12803f 100%);
  --shadow: 4px 4px 23px 0px rgba(0, 0, 0, 0.3);
  --accent-color: #1F1F3B;
}

h1{
    @apply font-bold text-2xl ;
}
label{
     @apply flex flex-col
 }
 button {
  padding: 8px;
  font-size: medium;
 }
 .ButtonCard {
  /* width: 100%; */
  color: #ffffff;
  /* background-image: var(--bg-main); */
  background: var(--bg-main);
  font-weight: bold;
  font-size: 16px;
  padding: 0.8rem;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.ButtonCard:hover {
  background: var(--bg-third);
}

.debug {
  border: 2px solid red;
}
.Yellow-little{
  /*background-color: #f3f3e3;*/
  background-color: #D9D9D9
}
.Green-Hard{
  color: #026937;
}
.Green-Mid{
  color: #35944B;
}
.Green-Little{
  color: #43B649;
}
.Blue-Dark{
  color: #205B70;
}
.Blue-Mid{
  color: #0E7774;
}
.Light-Grey{
  color: #5F5F5F;
}
.Dark-Grey{
  color: #393636;
}
.Title{
  color: #1F1F3B;
}
.background-form{
  background-image: linear-gradient(306deg, #026937 0%, #35944B 100%);
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
}

.input-form {
  @apply px-1 py-1 border border-2 rounded-none focus:border-black outline-none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #5F5F5F;
}

.logo-container {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 32px;
}


.button-form{
  border-radius: 28px;
  background-image: linear-gradient(120deg, #026937 0%, #35944B 100%);
  transition: background-image 0.3s; /* Transición suave para el hover */
}

.button-form:hover {
  background-image: linear-gradient(120deg, #35944B 0%, #026937 100%); /* Nuevo degradado en hover */
}

.background-register{
  background-image: linear-gradient(306deg, #026937 0%, #35944B 100%);
}
.button-secondary {
  @apply bg-white text-[#026937] shadow-lg font-bold text-base rounded-lg;
  border: 2px solid #026937;
}
.button-secondary:hover {
  @apply text-white;
  background-image: linear-gradient(120deg, #35944B 0%, #026937 100%); /* Nuevo degradado en hover */
}

.Form {
  /* width: 50%; */
  min-width: 280px;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem 1.5rem;
  border-radius: 0.625rem;
  background-color: var(--white);
  box-shadow: var(--shadow);
}
.Input {
  width: 100%;
  padding: 0.3rem;
  font-size: 0.9rem;
  border: 2px solid var(--light-grey);
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  color: var(--dark-grey);
  outline: none;
}
.FormHeader {
  text-align: center;
  font-weight: bold;
  color: var(--green-hard);
  line-height: normal;
}
.form-header {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--green-little);
  line-height: normal;
}
.Label {
  display: block;
  width: 100%;
}
.LabelText {
  font-size: 1rem;
  font-weight: 500;
  color: var(--light-grey);
}

.InfoProfile {
  @apply flex bg-white w-72 p-3 rounded-3xl shadow-xl flex-col items-center hover:scale-105 transition-transform duration-300;
}

.CardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 24px;
  justify-items: center;
}

.sidebar-item {
  @apply flex gap-4 text-white items-center text-2xl font-normal;
}